.image {
    height: 150px;
    width: 100px;
    position: relative;
    border: 2px solid indigo;
}

.bio {
    width: auto;
    height: auto;
    position: relative;
    margin: auto;
}

.container {
    display: flex;
    padding: 20px 40px;
}