<div class="main" >

    <div class="heading">
        Scrappy
    </div>

    <div class="subheading">
        Providing credit for Garbage
    </div>

</div>

<div class="container">
    <div class="cardContainer">
        <a routerLink="workers" style="text-decoration: none;">
            <div class="card">
                Worker Data
            </div>
        </a>

        <a routerLink="users" style="text-decoration: none;">
            <div class="card">
                User Data
            </div>
        </a>

        <a routerLink="stats" style="text-decoration: none;">
            <div class="card">
                Statistics
            </div>
        </a>
    </div>
</div>