<div id="container" fxLayout="row">

    <a routerLink="workers" style="text-decoration: none;">
        <mat-card [style.backgroundColor]='"#f2ac9b"' id="example-card">
            <mat-card-header>
                <mat-card-title>Worker Data</mat-card-title>
                <mat-card-subtitle>qwerty</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <p>
                    This link shows the data of registered workers
                </p>
            </mat-card-content>

        </mat-card>
    </a>

    <a routerLink="users" style="text-decoration: none;">
        <mat-card [style.backgroundColor]='"#f2ac9b"' id="example-card">
            <mat-card-header>
                <mat-card-title>User Data</mat-card-title>
                <mat-card-subtitle>qwerty</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <p>
                    This link shows the data of registered users
                </p>
            </mat-card-content>
        </mat-card>

    </a>

    <a routerLink="stats" style="text-decoration: none;">
        <mat-card [style.backgroundColor]='"#f2ac9b"' id="example-card">
            <mat-card-header>
                <mat-card-title>Statistics</mat-card-title>
                <mat-card-subtitle>qwerty</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <p>
                    This link shows the stats
                </p>
            </mat-card-content>
        </mat-card>

    </a>

</div>