<mat-toolbar color="primary">

    <a routerLink="">
        <button mat-button>
            <span>Home</span>
        </button>
    </a>

    <a routerLink="workers">
        <button mat-button>
            <span>Workers</span>
        </button>
    </a>

    <a routerLink="users">
        <button mat-button>
            <span>Users</span>
        </button>
    </a>

    <a routerLink="stats">
        <button mat-button>
            <span>Stats</span>
        </button>
    </a>

    <button class="right-button" mat-raised-button>Logout</button>

</mat-toolbar>